<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenida</title>
  <link rel="stylesheet" href="bienvenida.component.css">
</head>
<body>
  <div class="container">
    <h1>Bienvenido a la Sala de juegos</h1>
    <div class="buttons">
      @if (this.authService.user() === null) {
        <button type="button" routerLink="/registro" class="btn">
          Registrarse
        </button>
        <button type="button" routerLink="/login" class="btn">
          Iniciar sesión
        </button>

        } @else {
        <span class="user">HOLA! {{ authService.user()!.email }}</span><br>
        <button type="button" class="btn" (click)="cerrarSesion()">Cerrar sesión</button>
        }
    </div>
    <div class="cards">
      <button class="card" type="button" routerLink="/ahorcado">
        <h2>Ahorcado</h2>
        
      </button>
      <button class="card" type="button" routerLink="/mayor-menor">
        <h2>Mayor-Menor</h2>
        
      </button>
      <button class="card" type="button" routerLink="/preguntados">
        <h2>Preguntados</h2>
        
      </button>
      <button class="card" type="button" routerLink="/bienvenida">
        <h2>Juego Propio</h2>
        
      </button>
    </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>