<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me Profile card || Learning Robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
        <!-- <nav class="navbar">
        <a routerLink="/bienvenida">Bienvenida</a>
        <a routerLink="/sobre-mi">Sobre Mi</a>
        </nav> -->
        <nav class="navbar">
          <div class="navbar-left">
            <p>Sala de juegos</p>
          </div>
          <div class="navbar-right">
            <a routerLink="/bienvenida">Bienvenida</a>
            <a routerLink="/sobre-mi">Sobre Mí</a>
          </div>
        </nav>
    </body>

<router-outlet></router-outlet>